<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <div id="carouselExampleCaptions" class="carousel carousel-dark slide" data-bs-ride="false">
                       
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/original_images/Flagship_100_Blog_2880x1800_Apparel.jpg" class="d-block w-100" alt="...">
                            <div style="color:navy;" class="carousel-caption d-none d-md-block">
                              <h5 style="font-size: 48px ;">Shopping Cart</h5>
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                <h1 style="font-size: 34px;color: navy;text-align: center;">Admin Home</h1>

                <!-- end of courosel -->
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="card text-center mb-3">
                    <img height="300px" width="300px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRWZ115b9FIPA9cvac2wK5hrbbiqyORSDcfzg&usqp=CAU" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Add Products</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt dolor explicabo aliquam, fugiat iste maiores veritatis ducimus a 
                        culpa tempore temporibus porro mollitia nisi? Voluptate sit nostrum adipisci illum velit?</p>
                        <button type="button" class="btn btn-outline-primary" routerLink="/addProducts">Add</button>

                    </div>
                  </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="card text-center mb-3">
                    <img height="300px" width="300px" src="https://static.thenounproject.com/png/1065354-200.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">View All Products</h5>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad veritatis repellendus excepturi odio qui quasi aspernatur vel hic quaerat cum, quibusdam tempore natus dignissimos aperiam itaque temporibus ipsam et provident!</p>
                      <button type="button" class="btn btn-outline-primary" routerLink="/viewProducts">View Products</button>
                    </div>
                  </div>
                </div>
                <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
                  <div class="card text-center mb-3">
                    <img height="300px" width="300px" src="https://cdn2.iconfinder.com/data/icons/miscellaneous-152-color-shadow/128/detail_expansion_elaboration_analysis_discovery_inquire_inspect_magnifier_find-512.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Search Products</h5>
                      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis porro obcaecati voluptates asperiores doloremque, aut tenetur non distinctio soluta officiis dolores tempora ab deleniti suscipit voluptatum corrupti neque ipsum quia!</p>
                        <button type="button" class="btn btn-outline-primary" routerLink="/searchProducts">Search</button>
                    </div>
                  </div>
                </div>
                


            </div>

        </div>
    </div>
</div>